* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: 0;
  /* margin: 0; */
  padding: 0;

  font-family: League Spartan;
}

html ::-webkit-scrollbar {
  width: 3px;
}

html ::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background: #ff6060;
}

html ::-webkit-scrollbar-track {
  background: #262a2f;
}